@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Miao&display=swap');

:root{
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: 'Noto Sans Miao', sans-serif;
  --fonte3: 'Sriracha', cursive;
}

*{
  margin: 0px;
  padding: 0px;
}

html, body{
  min-height: 100vh;
  background-color: rgb(131, 130, 130)
}

header{
  background-color: black;
  color: white;
  text-align: center;
}

header > h1{
  padding-top: 50px;
  font-variant: small-caps; 
}

header > p{
  padding-bottom: 50px;
}

a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

a:hover, footer a:hover {
  text-decoration: underline;
}

section{
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
}

.imagem > pre > p{
  width: 400px;
  background-color: rgba(0, 0, 0, 0.384);
}

.normal{
  background-color: white;
  color: black;
}

.imagem{
  background-color: rgb(63, 63, 63);
  color: white;
}

section > pre {
  white-space: pre-line;
}
/* Elimina o espaço automatico da <pre>*/

footer{
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
}
